@media (min-width:1200px){
                  /*DISPLAY NONE*/ .desktop{display: none !important;}

    /*---------------------HEADER------------------------------*/

    #header{
        position: relative;
        height: 600px;
    }
    #background__video{
        position: absolute;
        bottom: 0px;
        right: 0px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1000;
        overflow: hidden;
        }


    /*--------------------NAV_BAR---------------------------*/

        .header__navBar{
            top: 0;
            left: 0;
            width: 100%;
            height: 100px;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;  
        }
    /*---------------------LOGO U|H---------------------------*/
        .header__navBar__logo{
            margin-left: 5%;
            display: inline-block;
            size: 80px;
        }
        .header__navBar__logo img{
            width: 80px;
        }
    /*----------------------Content nav Bar-------------------*/
        .header__navBar__content{
            margin-right: 5%;
            justify-content: space-between;
            align-items: baseline;
            width: 75%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .header__navBar__content span{
            margin-left: 1.5%;
            font-size: 16px;
            font-weight: bold;
        }
        .header__navBar__content span a{
            text-decoration: none;
            color: #ffffff;
        }
        .header__navBar__content span a:hover{
            /* background-color: rgb(59, 59, 59); */
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            color: #FABADA;
        }
        .header__navBar__content span button{
            background-color: #FABADA;
            padding: 15px 35px 15px 35px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
            border: none;
            color: white;
            font-size: 14px;
            font-weight: bold;
            margin-top: 5px;
        }
        .header__navBar__content span button:hover{
            background-color: #ffffff;
            color: #FABADA;
        }

    /*-----------------Content HEADER Video-------------------*/
    /*-----------------Titulo HEADER -------------------------*/   
         .header__titulo{
            padding-top: 250px;
            padding-left: 5%;
            padding-bottom: 10px;
            font-size: 30px;
            color: #FFFFFF;
        }
         .header__titulo h1 span{
            /* background-color: #fabadaa1; */
            font-weight: bold;
            color: #FABADA;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-right-radius: 6px;
            border-top-left-radius: 6px;
        }
    /*-----------------Tambien en live------------------------*/
    .advice{
        margin: 40px auto 0 auto;
        width: 50%;
        text-align: center;
        font-size: 17px;
    }
    .advice__info span{
        background-color:  #fabadaa1;
    }
    /*-----------------STYLES------------------------*/
    .styles{
        margin:40px auto 0 auto;
        height: 250px;
        width: 80%;
        display: flex;
        flex-flow:row wrap;
        font-size: 15px;
    }
    .styles__box{
        display: flex;
        flex-flow:row wrap;
        justify-content: space-between;
        padding-right: 10px;
        width: 70%;
        height: 100%;
    }
    .styles__box__content{
        display: flex;
        flex-flow:row wrap;
        height: calc(49% - 15px);
        width: calc(49% - 10px);
        border: 1px solid black;
        cursor: pointer;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    .styles__box__content:hover{
        background-color: #FABADA;
    }
    .styles__box__content .titulo{
        height: 100%;
        width: calc(70% - 2px);
    }
    .styles__box__content .titulo h3{
        margin: 10px 0 0 10px;
        padding: 0;
    }
    .styles__box__content .titulo p{
        margin: 15px 0 0 10px;
        padding: 0;
    }
    .styles__box__content .titulo .h3{
        margin: 5px 0 0 10px;
        padding: 0;
    }
    .styles__box__content .titulo p:nth-child(2){
        margin: 5px 0 0 10px;
        padding: 0;
    }
    .styles__box__content .imagen{
        height: 100%;
        width: calc(25% - 2px);
    }
    .styles__box__content .imagen svg{
        height: 60px;
        margin-top: 10px;
    }

    .styles__box__image{
        width: calc(30% - 20px);
        margin-bottom: 15px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background-image: url(../fotos/bmwM4.jpg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;

    }


    /*--------------------------INFOBOX------------------------*/
    .infoBox{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 15px 10% 15px 10%;
        width: 100%;
        height: 200px;
        background-color:#fabada8a;
        cursor: pointer;
        margin-top: 50px;
        
    }
    .infoBox h3{
        font-size: 25px;
        font-weight: bold;
        
    }
    .infoBox p{
        font-size: 17px;
        padding-top: 15px;
        height: 100%;
        padding-right: 30%;   
    }
    .infoBox__p2{
        padding-right: 40%;
        padding-left: 20%;
    }
    /*--------------------------PHOTOBOX------------------------*/

    .photoBox{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(60% + 30px);
        height: 400px;
        margin: 50px auto 0 auto;;
        cursor: pointer;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    .photoBox .photo{
        height: 200px;
        width: 33%;
    }
    .photoBox .p1{
        background-image: url(../fotos/1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 6px;
        background-position-y: center;
    }
    .photoBox .p1:hover{
        background-image: url(../fotos/4.jpg);
    }
    .photoBox .p2{
        background-image: url(../fotos/2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: center;
    }
    .photoBox .p2:hover{
        background-image: url(../fotos/5.jpg);
    }
    .photoBox .p3{
        background-image: url(../fotos/3.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-top-right-radius: 6px;
        background-position-y: center;
    }
    .photoBox .p3:hover{
        background-image: url(../fotos/6.jpg);
    }
    .photoBox .p4{
        background-image: url(../fotos/7.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-left-radius: 6px;
        background-position-y: center;
    }
    .photoBox .p4:hover{
        background-image: url(../fotos/10.png);
    }
    .photoBox .p5{
        background-image: url(../fotos/8.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .photoBox .p5:hover{
        background-image: url(../fotos/11.png);
    }
    .photoBox .p6{
        background-image: url(../fotos/9.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom-right-radius: 6px;
        background-position-y: center;
    }
    .photoBox .p6:hover{
        background-image: url(../fotos/12.png);
    }
    /*---------------TESTIMONIOS------------------------*/
    .testimonios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 50px 0 50px 0;
        width: 100%;
        height: 300px;
        background-color: #fabada8a;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    .testimonios__box{
        width: 25%;
        height: 100%;
    }
    .testimonios .testimonios__b1{
        background-image: url(../fotos/ken.jpg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .testimonios .testimonios__b2{
        background-image: url(../fotos/hann.jpg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .testimonios .testimonios__b3{
        background-image: url(../fotos/ricci.jpeg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .testimonios .testimonios__b4{
        background-image: url(../fotos/Nakai.jpg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .testimonios__box__content{
        display: flex;
        flex-direction: column;
        padding: 210px 0 5px 2%;
        cursor: pointer;
        width: 100%;
        height: 85px;
    }
    .testimonios__box__content h4{
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: white;
        font-size: 28px;
    }
    .testimonios__box__content p{
        margin: 5px 0 5px 0;
        padding: 0;
        color: white;
        font-size: 20px;
    }
    .testimonios__box__content:hover{
        display: flex;
        flex-direction: column;
        padding: 180px 0 5px 2%;
        cursor: pointer;
        height: 115px;
        background-color: #383537f6;
        transition: 2s;
    }
    .testimonios__box__content:hover h4{
        color: #FABADA;
    }
    .testimonios__box__content:hover p{
        color: #FABADA;
    }
    /*------------TESTIMONIOS------------------------------------*/

    /*BUTTON*/

    .stance__button{
        margin: 70px auto 40px auto;
        text-align: center;   
    }
    .stance__button button{
        background-color: #FABADA;
        padding: 15px 35px 15px 35px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border: none;
        color: white;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
    }
    .stance__button button:hover{
        background-color: black;
        color: #FABADA;
    }

    /*------------STYLES-BIG-----------------------------------*/
    .styles--big{
        width: 90%;
        height: 800px;
        margin: 30px auto 30px auto;
    }
    .styles--big__mainBox{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .styles--big__mainBox__box{
        width: 50%;
        height: 50%;
        cursor: pointer;
    }
    .styles--big__mainBox__box1{
        background-image: url(../fotos/JapanR34.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   
    }
    .styles--big__mainBox__box2{
        background-image: url(../fotos/lambo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .styles--big__mainBox__box3{
        background-image: url(../fotos/drift.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .styles--big__mainBox__box4{
        background-image: url(../fotos/Bmw.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .styles--big__mainBox__box__content{
        margin:0;
        padding: 0;
        font-weight: bold;
        color: white;
        font-size: 28px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .styles--big__mainBox__box__content h3{
        padding-top: 300px;
        margin-left: 2%;
        margin-bottom: 0;
    }
    .styles--big__mainBox__box:hover .styles--big__mainBox__box__content{
        color: #FABADA;
        width: 100%;
        background-color: #000000ec;   
        margin-top: 0;   
        margin-bottom: 0;
        transition: 2s;  
    }
    .styles--big__mainBox__box:hover .styles--big__mainBox__box__content h3{
        margin-top: 0;
        padding-top: 300px;
        margin-bottom: 0;
    }
    /*---------------------------WHY-US-?------------------------------*/
    .opciones{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: 700px;
        margin: 60px 4% 0 4%;
    }
    .opciones__title{
        width: 100%;
        text-align: center;
        height: 40px;
        padding: 20px 0 0 0;
    }
    .opciones__content{
        width: 25%;
        min-width: 200px;
        padding: 0 4% 0 4%;
    }
    .opciones__title h3{
        margin: 5px 0 0 0;
        font-size: 35px;
        color: rgba(32, 31, 31, 0.924);
        font-weight: bold;
    }
    .opciones__content h4{
        margin: 5px 0 0 0;
        font-size: 25px;
        color: #FABADA;
        font-weight: bold;
    }
    /*---------------------------FORM------------------------------------*/
    .form{
        width: 100%;
        height: 720px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #fabada;
        
    }
    .form__info{
        width: 30%;
        height: 100%;
        margin: 5% 0 0  4%;
        padding-right: 20%;
    }
    .form__info h4{
        font-size: 25px;
        font-weight: bold;
    }
    .form__content{
        width: 40%;
        height: 100%;
        padding:5% 0 0 0;
    }
    .form__content form{
        width: 100%;
        height: 100%;
    }
    .form__content form label{
        font-size: 17px;
        color: black;
        margin: 0 0 30px 0 ;
    }
    .form__content__inputBox{
        height: 30px;
        width: 95%;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background-color: white;
    }

    .form__content__radioBtn{
        height: 15px;
        width: 15px;
        background-color: white;
        border: 1px solid white;
    }
    .form__content form p{
        margin-top: 50px;
    }
    .stance__button--dark{
        margin: 70px auto 40px auto;
        text-align: center;   
    }
    .stance__button--dark button{
        background-color: black;
        padding: 15px 35px 15px 35px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border: none;
        color: #FABADA;
        font-size: 22px;
        font-weight: bold;
        cursor: pointer;
    }
    .stance__button--dark button:hover{
        color: white;
    }
    /*--------------------------------footer--------------------------------*/
    .footer{
        height: 280px;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    .footer__content{
        display: flex;
        flex-direction: row;
        width: 50%;
        margin: 50px 0 0 6%;
    }
    .footer__content__logoAdress div{
        margin-bottom: 30px;
    }
    .footer__content__logoAdress img{
        width: 130px;
    }
    .footer__content__logoAdress address{
        font-size: 14px;
        text-decoration:underline black;
        color: black;
    }
    .footer__content__links{
        margin-left: 10%;
        padding: 5%;
    }
    .footer__content__links ul{
        margin-left: 10%;
        border-left: 3px solid #FABADA;
        list-style: none;
    }
    .footer__content__links li{
        margin-bottom: 4px;
        text-decoration: underline;
        font-size: 13px;
    }
    .footer__rrss{
        margin: 70px 0 0 25%;
    }
    .footer__rrss svg{
        margin: 0 0 0 20px;
    }
}

