@import url(./mobile_styles.css); /*VERSIÓN MOBILE < 576px*/
@import url(./tablet_mobile_styles.css); /*VERSIÓN transición MOBILE a TABLET > 576px < 768px*/
@import url(./tablet_styles.css); /*VERSIÓN TABLET > 768px < 992px*/
@import url(./tablet_desktop_styles.css); /*VERSIÓN transición TABLET a DESKTOP > 992px < 1200px*/
@import url(./desktop_styles.css); /*VERSIÓN DESKTOP > 1200px*/
@import url(https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css); /*ANIMACIONES*/

body , html{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 , h2 , h3 , h4 , h5 , h6{
    font-weight: lighter;
}
@media (min-width:1200px){.btn-menu{display: none !important;}}
@media (max-width:1199px){

   .header__navBar{
       width: 100%;
   }
    .header__navBar__logo{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
    }

    .btn-menu{
        margin-right: 5%;
    }
    .btn-menu svg{
        height: 30px;
        width: 30px;
    }
}
@media (min-width:578px){
.fixed{
    display: none;
}
}