@media (max-width:992px){
@media (min-width:768px){
                  /*DISPLAY NONE*/ .tablet-mobile{display: none !important;}
        /*---------------------HEADER------------------------------*/

        #header{
            position: relative;
            height: 600px;
        }
        #background__video{
            position: absolute;
            bottom: 0px;
            right: 0px;
            height: 600px;
            z-index: -1000;
            overflow: hidden;
            }
     /*--------------------NAV_BAR---------------------------*/

     .header__navBar{
        top: 0;
        left: 0;
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;  
    }
/*---------------------LOGO U|H---------------------------*/
    .header__navBar__logo{
        margin-left: 7%;
        margin-top: 7%;
        display: inline-block;
        size: 100px;
    }
    .header__navBar__logo img{
        width: 80px;
    }
            /*----------------------Content nav Bar-------------------*/
            /*----------------------Content nav Bar-------------------*/

            /*----------------------Content nav Bar-------------------*/

            /*----------------------Content nav Bar-------------------*/



/*-----------------Content HEADER Video-------------------*/
/*-----------------Titulo HEADER -------------------------*/   
     .header__titulo{
        padding-top: 260px;
        padding-left: 5%;
        padding-bottom: 10px;
        font-size: 23px;
        color: #FFFFFF;
    }
     .header__titulo h1 span{
        font-weight: bold;
        color: #FABADA;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }   
    .header__titulo h4{
        padding: 0;
        font-size: 19px;
    }

/*-------------------------------FIN-HEADER-------------------------------------*/

/*-----------------Tambien en live------------------------*/
.advice{
    width: 100%;
    font-size: 17px;
}
.advice__info{
    text-align: center;
    width: 70%;
    margin: 70px auto 0 auto;
}
.advice__info span{
    background-color:  #fabadaa1;
}

/*-----------------STYLES------------------------*/
.styles{
    margin:70px auto 0 auto;
    height: 450px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    flex-flow:row wrap;
    font-size: 15px;
}
.styles__box{
    display: flex;
    flex-flow:column wrap;
    justify-content: space-between;
    width: 48%;
    height: 400;
}
.styles__box__content{
    display: flex;
    margin-bottom: 10px;
    flex-flow:column wrap;
    height: 100px;
    width: 100%;
    border: 1px solid black;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    cursor: pointer;

}
.styles__box__content:hover{
    background-color: #FABADA;
}
.styles__box__content .titulo{
    height: 100%;
    width: calc(70% - 2px);
}
.styles__box__content .titulo h3{
    margin: 10px 0 0 10px;
    padding: 0;
}
.styles__box__content .titulo p{
    margin: 15px 0 0 10px;
    padding: 0;
}
.styles__box__content .titulo .h3{
    margin: 5px 0 0 10px;
    padding: 0;
}
.styles__box__content .titulo p:nth-child(2){
    margin: 5px 0 0 10px;
    padding: 0;
}
.styles__box__content .imagen{
    height: 100%;
    width: calc(25% - 2px);
}
.styles__box__content .imagen svg{
    height: 60px;
    margin-top: 10px;
}

.styles__box__image{
    width: 48%;
    height: 250px;

    background-image: url(../fotos/bmwM4.jpg);
    background-position-y: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

/*--------------------------INFOBOX------------------------*/
.infoBox{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 190px;
    background-color:#fabada;
    cursor: pointer;
    margin-top: 70px;    
}
.infoBox h3{
    padding: 5px 5% 0 5%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;     
}
.infoBox p{
    padding: 0 8% 0 8%;
    text-align: center;
    font-size: 16px;
}
/*--------------------------PHOTOBOX------------------------*/

.photoBox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    height: 600px;
    margin: 50px auto 0 auto;
    cursor: pointer;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}
.photoBox .photo{
    height: 200px;
    width: 50%;
}
.photoBox .p1{
    background-image: url(../fotos/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 6px;
    background-position-y: center;
}
.photoBox .p1:hover{
    background-image: url(../fotos/4.jpg);
}
.photoBox .p2{
    background-image: url(../fotos/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
.photoBox .p2:hover{
    background-image: url(../fotos/5.jpg);
}
.photoBox .p3{
    background-image: url(../fotos/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 6px;
    background-position-y: center;
}
.photoBox .p3:hover{
    background-image: url(../fotos/6.jpg);
}
.photoBox .p4{
    background-image: url(../fotos/7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 6px;
    background-position-y: center;
}
.photoBox .p4:hover{
    background-image: url(../fotos/10.png);
}
.photoBox .p5{
    background-image: url(../fotos/8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.photoBox .p5:hover{
    background-image: url(../fotos/11.png);
}
.photoBox .p6{
    background-image: url(../fotos/9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-right-radius: 6px;
    background-position-y: center;
}
.photoBox .p6:hover{
    background-image: url(../fotos/12.png);
}
    /*---------------TESTIMONIOS------------------------*/
    .testimonios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 100px 0 50px 0;
        width: 100%;
        height: 800px;
        background-color: #fabada8a;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
    }
    .testimonios__box{
        width: 33.3333%;
        height: 50%;
    }
    .testimonios__box:nth-child(4){
        width: 100%;
        height: 50%;
    }
    .testimonios .testimonios__b1{
        background-image: url(../fotos/ken.jpg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .testimonios .testimonios__b2{
        background-image: url(../fotos/hann.jpg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .testimonios .testimonios__b3{
        background-image: url(../fotos/ricci.jpeg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .testimonios .testimonios__b4{
        background-image: url(../fotos/Nakai.jpg);
        background-position-y: center;
        background-position-x: center;
        background-repeat: no-repeat;
        background-size: cover;
        cursor: pointer;
    }
    .testimonios__box__content{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        width: 100%;
        height: 100%;

    }
    .testimonios__box__content h4{
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: white;
        font-size: 28px;
        padding: 20px 0 5px 2%;

    }
    .testimonios__box__content p{
        margin: 5px 0 5px 0;
        color: white;
        font-size: 20px;
        padding: 0;
        padding: 0 0 5px 2%;
        
    }
    .testimonios__box__content:hover{
        display: flex;
        flex-direction: column;
        cursor: pointer;
        background-color: #383537f6;
        transition: 2s ;
    }
    .testimonios__box__content:hover h4{
        padding: 100px 0 5px 2%;
        color: #FABADA;
        transition: 1.5s;
    }
    .testimonios__box__content:hover p{
        color: #FABADA;
        padding: 0 0 5px 2%;

    }

    /*BUTTON*/
    .stance__button{
        margin: 70px auto 0 auto;
        text-align: center;   
    }
    .stance__button button{
        background-color: #FABADA;
        padding: 20px 30px 20px 30px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border: none;
        color: white;
        font-size: 17px;
        font-weight: bold;
        cursor: pointer;
    }
    .stance__button button:hover{
        background-color: black;
        color: #FABADA;
    }
    /*------------STYLES-BIG-----------------------------------*/
    .styles--big{
        width: 100%;
        height: 800px;
        margin: 70px 5% 0 5%;
    }
    .styles--big__mainBox{
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .styles--big__mainBox__box{
        width: 50%;
        height: 50%;
        cursor: pointer;
    }
    .styles--big__mainBox__box1{
        background-image: url(../fotos/JapanR34.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
   
    }
    .styles--big__mainBox__box2{
        background-image: url(../fotos/lambo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .styles--big__mainBox__box3{
        background-image: url(../fotos/drift.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .styles--big__mainBox__box4{
        background-image: url(../fotos/Bmw.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .styles--big__mainBox__box__content{
        margin:0;
        padding: 0;
        font-weight: bold;
        color: white;
        font-size: 28px;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .styles--big__mainBox__box__content h3{
        padding-top: 270px;
        margin-left: 2%;
        margin-bottom: 0;
    }
    .styles--big__mainBox__box:hover .styles--big__mainBox__box__content{
        width: 100%;
        background-color: #000000ce;   
        margin-top: 0;   
        margin-bottom: 0;
        transition: 2s;  
    }
    .styles--big__mainBox__box:hover .styles--big__mainBox__box__content h3{
        margin-top: 0;
        padding-top: 250px;
        margin-bottom: 0;
        transition: 1.5s;
        color: #FABADA;
    }

    /*---------------------------WHY-US-?------------------------------*/
    .opciones{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: 800px;
        margin: 60px 4% 0 4%;
    }
    .opciones__title{
        width: 100%;
        text-align: center;
        height: 40px;
        padding: 20px 0 0 0;
    }
    .opciones__content{
        width: 45%;
        padding: 0 0 0 4%;
    }
    .opciones__title h3{
        margin: 5px 0 0 0;
        font-size: 35px;
        color: rgba(32, 31, 31, 0.924);
        font-weight: bold;
    }
    .opciones__content h4{
        margin: 5px 0 0 0;
        font-size: 25px;
        color: #FABADA;
        font-weight: bold;
    }
    /*---------------------------FORM------------------------------------*/
    .form{
        margin-top: 50px;
        width: 100%;
        height: 880px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #fabada;
        
    }
    .form__info{
        margin: auto;
        width: 80%;
    }
    .form__info h4{
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }
    .form__info p{
        font-size: 16px;
        text-align: center;
    }
    .form__content{
        width: 100%;
        height: 65%;
        margin-top: 0;
    }
    .form__content form{
        margin: auto;
        width: 80%;
        height: 100%;
    }
    .form__content form label{
        font-size: 17px;
        color: black;
        margin: 0 0 30px 0;
    }
    .form__content__inputBox{
        height: 30px;
        width: 95%;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        background-color: white;
    }

    .form__content__radioBtn{
        height: 15px;
        width: 15px;
        background-color: white;
        border: 1px solid white;
    }
    .form__content form p{
        margin-top: 50px;
        font-size: 12px;
    }
    .stance__button--dark{
        margin: 50px auto 0 auto;
        text-align: center;  
    }
    .stance__button--dark button{
        background-color: black;
        padding: 10px 20px 10px 20px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        border: none;
        color: #FABADA;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
    .stance__button--dark button:hover{
        color: white;
    }

    /*--------------------------------footer--------------------------------*/
    .footer{
        height: 250px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .footer__content{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin:auto;
    }
    .footer__content__logoAdress{
        margin: auto;
    }
    .footer__content__logoAdress div{
        margin-top: 20px;
    }
    .footer__content__logoAdress img{
        width: 100px;
        margin-bottom: 20px;
        padding-left: 10%;
    }
    .footer__content__logoAdress address{
        text-align: center;
        font-size: 11px;
        text-decoration:underline black;
        color: black;
    }

    .footer__rrss{
        margin: auto;
    }
    .footer__rrss svg{
        margin: 30px 0 20px 0 ;
    }
}}